
nav{
     display: inline-block;
}

.navba-link
{text-align: right;border-style: none;background-color: rgba(250, 206, 62, 0.91);padding-right:30px ;

}
#logo {
  
    text-align: center; font-size: xx-large;
    padding-top:20px;
    padding: left 20px;padding-right:20px; padding-bottom: 20px;
    border: solid; color: black;background: orangered;width: 100;height:100;
}

 #svr {
     text-decoration: underline;color: gray;font-size:xx-large ;
  
 }
 h1{
     background-color: rgba(219, 134, 73, 0.882);
 }
h3 {
    text-decoration: underline;color: gray;
}
 
 